/* General Styles */
@keyframes bounceIn {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	70% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

body {
	font-family: system-ui;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
	background: #ecf0f1;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    padding-top: 150px; 
	overflow-y: auto; 
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar-menu li a {
    display: block;
    padding: 15px 25px;
    color: black;
    background: none;
    text-align: left;
    cursor: pointer;
	font-size: 16px;
	font-weight: 700;
    width: 100%;
    text-decoration: none;
    box-sizing: border-box;
}

.sidebar-menu li a:hover {
    background-color: #f4f4f4;
}

/* Main Content Styles */
.main-content {
    margin-left: 250px;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-top: 10px;
    position: relative;
}

.main-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/tree.jpg') no-repeat center center/cover;
    opacity: 0.3;
    z-index: -1;
}

.header {
    background: linear-gradient(to right, #f1f0b0,#ceedec,#b0dbed);
    color: black;
    padding: 20px;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
	border-bottom: 1px solid #ddd;
}

.content {
    padding: 10px;
    flex-grow: 1;
    margin: 120px 0 0 0;
}


/* Overview */
.dashboard-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
	animation: bounceIn 1s ease;
}

.card h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #2c3e50;
}

.card-link {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    color: #3498db;
    text-decoration: none;
    border-radius: 4px;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-link:hover {
    background-color: #3498db;
    color: #fff;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info {
    flex: 1;
    text-align: left;
}

.card h2 {
    margin-top: 0;
}

.card canvas {
    max-width: 200px;
    max-height: 200px;
}

/* Kanban Board Styles */
.kanban-board {
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
	animation: bounceIn 1s ease;
	display: flex;
	height: calc( - 200px);
}



.kanban-column {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 12px;
    margin: 10px;
    min-width: 300px;
    vertical-align: top;
    display: inline-block;
}

.kanban-column h3 {
    text-align: center;
    background-color: #ceedec;
    color: black;
    margin: -10px -10px 10px -10px;
    padding: 10px;
    border-radius: 12px 12px 0 0;
}

.kanban-item {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    position: relative;
    padding-right: 50px;
}

.kanban-item:hover {
    background-color: #ddd;
}

.kanban-item i {
    margin-right: 10px;
}

/* Dropdown Styles */
.dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: #4caf4f00;
    color: grey;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: #3e8e4100;
}

/* Edit Button Styles */
.edit-button {
    background-color: lightgray;
    color: black;
    border: 1px solid;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease;
    /* position: fixec; */
    top: 200px;
    right: 100px;
}

.edit-button:hover {
    background-color: lightslategray;
}

.save-button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s ease;
    display: none;
}

.save-button:hover {
    background-color: #c0392b;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th.question-text, td.question-text {
    width: 40%;
}

th.industry, td.industry {
    width: 10%;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #b0dbed;
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}


.filter-container {
    margin-bottom: 20px;
}

.filter-container select {
    padding: 10px;
    font-size: 16px;
}

/* Form Styles */
.form-container {
    margin-bottom: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: auto;
}

.form-container input, .form-container select {
    width: calc(50% - 20px);
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

.form-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.field {
    margin-bottom: 15px;
}

.field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.field input, .field select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-button, .back-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 4px;
}

.update-button {
    background-color: #446243;
    color: #fff;
    border: none;
}

.update-button:hover {
    background-color: #446243;
}

.back-button {
    background-color: #b0dbed;
    color: black;
    text-align: center;
}

.back-button:hover {
    background-color: #06aaf0;
}

.actions {
    display: flex;
    gap: 10px;
}

.btn-edit, .btn-delete {
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-edit {
    background-color: #b0dbed;
    color: black;
}

.btn-delete {
    background-color: rgb(222, 220, 217);
    color: black;
}

/* Logo Container Styles */
.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo {
    height: 70px;
    width: auto;
}

.logo1 {
    padding-left: 20px;
    height: 100px;
    width: auto;
}

.task-count-cards {
    display: flex;
    gap: 150px; /* Adjust this value for more or less space */
    margin-bottom: 20px; /* Adjust the bottom margin if needed */
    justify-content: justify;
	margin-left: 100px;
}

.task-count-card {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 4px;
    width: 200px;
    text-align: center;
}

.task-count-label {
    display: block;
    font-size: 16px; /* Adjust as needed */
    color: #333;
}

.task-count {
    font-size: 24px; /* Increase this value to make the numbers bigger */
    font-weight: bold;
    color: #333;
    display: block;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.column-header {
	cursor: pointer;
	background-color: #f0f0f0;
	padding: 10px;
	border-radius: 4px;
}

.column-content {
	display: none; /* Initially collapse the column content */
	padding: 10px;
	background-color: #ffffff;
	height: calc(100% - 50px); /* Adjust based on header height */
	flex: 1;
	width:265px;
	justify-content: center;
}
.gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right, #f1f0b0, #ceedec, #b0dbed);
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.gallery .section-heading {
    text-align: center;
}

.gallery .carousel {
    display: flex;
    justify-content: center;
    position: relative;
}

.gallery .carousel-inner {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery .carousel-item {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.gallery .carousel-item.active {
    display: flex;
}

.gallery .carousel-item img,
.gallery .carousel-item video {
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    opacity: 100%;
}

.gallery h5 {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.gallery p {
    color: #ddd;
    font-size: 16px;
}

.gallery .carousel-indicators {
    bottom: -50px;
}

.gallery .carousel-indicators li {
    background-color: #d3d7d3;
}

.gallery .carousel-control-prev,
.gallery .carousel-control-next {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #dee0dd;
    border-radius: 50%;
    padding: 5px;
}

.gallery .carousel-control-prev {
    left: -60px;
}

.gallery .carousel-control-next {
    right: -60px;
}

.gallery .carousel-control-prev-icon,
.gallery .carousel-control-next-icon {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.gallery .carousel-control-prev-icon:hover,
.gallery .carousel-control-next-icon:hover {
    z-index: 110;
}

@media (max-width: 768px) {
    .gallery .carousel-inner {
        max-width: 100%;
    }

    .gallery .carousel-item img,
    .gallery .carousel-item video {
        width: 100%;
        height: auto;
    }

    .gallery .carousel-caption h5 {
        font-size: 18px;
    }

    .gallery .carousel-caption p {
        font-size: 14px;
    }
}